//colours -- if you don't like any of the names please change them. 
//I just thought I should add them while I wait.
$dark-blue: #1a3541;
$med-blue: #32708B;
$light-blue: #B4D6E4;
$dark-pink: #FE0760;
$light-pink: #FF83B0;
$green:#B5E3C2;


//fonts--I asked about fonts.
@import url('https://fonts.googleapis.com/css?family=Signika:400,600,700&display=swap');
//^^^Don't really know where to put this one for organization.
$signika: 'Signika', sans-serif;

//breakpoints
$breakpoint-tablet: 900px;
$breakpoint-phone: 500px;
