//colours -- if you don't like any of the names please change them. 
//I just thought I should add them while I wait.
$dark-blue: #1a3541;
$med-blue: #32708B;
$light-blue: #B4D6E4;
$dark-pink: #FE0760;
$light-pink: #FF83B0;
$green:#B5E3C2;


//fonts

//breakpoints
$breakpoint-tablet: 900px;
$breakpoint-phone: 500px;
